body {
    margin: 0;
    background-color: #F8F8F8;
}

.home {
    min-height: 400px;
    text-align: center;
}

.home-heading {
    font-size: 100px;
    font-family: 'The Seasons', serif;
    line-height: 90px;
    color:#222222;
}

.home-text {
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
}

.about {
    background-color: #F8F8F8;
    min-height: 400px;
    text-align: center;
}

.about-heading {
    font-size: 100px;
    font-family: 'The Seasons', serif;
}

.about-subheading {
    font-size: 72px;
    font-family: 'The Seasons', serif;
}

.about-text {
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
}

.work {
    text-align: center;
    background-color: #F8F8F8;
}

.work-heading {
    font-size: 100px;
    font-family: 'The Seasons', serif;
}

.work-text {
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    font-size: 14px;
}

.work-subheading {
    font-size: 72px;
    font-family: 'The Seasons', serif;
}

.work-subtext {
    font-size: 24px;
    font-family: 'Akzidenz Grotesk', sans-serif;
    color: #545454;
}

.contact {
    text-align: center;
    color: #222222;
}

.contact-heading {
    font-size: 100px;
    font-family: 'The Seasons', serif;
}

.contact-text {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    line-height: 20px;
    font-size: 18px;
}

.contact-links {
    font-size: 24px;
    font-family: 'Akzidenz Grotesk', sans-serif;
    font-weight: bold;
}

.footer {
    font-size: 12px;
    font-family: 'Akzidenz Grotesk', sans-serif;
    margin-top: 50px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #222222;
}
  
a:visited {
    text-decoration: none;
    color: #222222;
}
  
a:hover {
    text-decoration: underline;
    color: #222222;
}
  
a:active {
    text-decoration: underline;
    color: #222222;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    font-family: 'The Seasons', serif;
    text-transform: uppercase;
}

.menu-icon {
    font-size: 36px;
    cursor: pointer;
    color: #222222;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1001;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
    overflow: hidden;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay-content a {
    padding: 10px;
    font-size: 48px;
    color: #222222;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.overlay-content a:hover {
    transform: rotateX(15deg) rotateY(15deg);

}

.closebtn {
    position: absolute;
    right: 20px;
    font-size: 60px;
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: 'The Seasons';
    src: url('fonts/FONTSPRING-DEMO-THESEASONS-REG.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('fonts/AKZIDENZ-GROTESK-ROMAN.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}